/* GRANIM BACKGROUND */
#granim-canvas {
     position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 40%;
    width: 100%;
}

/* SEARCH BOXES */
.searchbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70%;
}

/* LOCATION SEARCH BOX */
.location-searchbox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-location {
    background: none;
    border: 2px solid transparent;
    height: 25px;
    width: 65%;
    text-indent: 5px;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 15px black;
}

/* JOB AND DATE CONTAINER */
.job-date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 67%;
    transform: translateY(15px);
}

/* JOB TITLE SEARCH BOX */
.job-title-searchbox {
    display: flex;
    justify-content: flex-start;
}

.search-job-title {
    background: none;
    border: 2px solid transparent;
    text-indent: 5px;
    width: 92%;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 15px black;
}

/* DATE SELECT */
.date-container {
    display: flex;
}

.date-select {
    border: 3px solid silver;
    background: none; 
    border: 2px solid transparent; 
    height: 100%; 
    width: 100%;
    text-indent: 5px; 
    color: white;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 15px black;  
}

/* SEACHBOX PLACEHOLDER COLOR */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    white;
}

/* SEARCH BUTTON */
.search-button {  
    border: none;
    background: #990000;
    color: white;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-top: 50px; */
    transform: translateY(50px);
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    box-shadow: 0 0 15px black; 
}

.search-button:hover, .search-button:active {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* iPhone 6 */
@media (min-width: 375px) {

}

/* iPhone 6 Plus */
@media (min-width: 414px) {

}

/* iPad */
@media (min-width: 768px) {

}