/* BACKGROUND */
.background {
    position: absolute;
    background-color: rgb(26,140,200);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* LOGO */
.logo {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 35%;
    height: 15%; 
    margin-left: -5%;
    margin-top: -5%;
    padding: 0px;
}

/* GOOGLE MAP  */
#map {
    position: absolute;
    left: 2%;
    top: 8%;
    bottom: 8%;
    right: 2%;
     z-index: 2;
    /* background-color: grey;  */
}

/* iPad */
@media (min-width: 768px) {
    .logo {
        margin-top: -3%;
    }
}

/* iPad Pro */
@media (min-width: 1024px) {
    .logo {
        margin-top: -1%;
        margin-left: -5%;
    }

    #map {
        top: 11%;
        bottom: 11%;
    }
}